<h1>Stock Market App</h1>
<p>Index page</p>

<%= form_tag root_path, :method => 'POST' do %>
  <div class = "form-group">
    <%= text_field_tag 'id', nil, placeholder: 'Enter Stock Symbol', size: 60, class: "form" %>
    <%= submit_tag 'Fetch Stock Quote', class: "btn btn-default" %>
  </div>
<% end %>

<% if @stock %>
  <%= @stock.inspect %>
<% elsif @empty %>
  <%= @empty %>
<% end %>
